/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200;400;700&display=swap');

/* Body tag styling
    background        - backup background incase browser can not use luinear-gradient
    background        - secondary background that is a linear gradient
    font-family       - setting the global font
*/
body {
  background: rgb(64, 16, 107);
  background: linear-gradient(
    65deg,
    rgba(64, 16, 107, 1) 0%,
    rgba(101, 26, 94, 1) 100%
  );
  color: white;
  font-family: 'Assistant', sans-serif;
}

/* Header tag styling
    background        - setting background color
    border-bottom     - adds a border at the bottom of the header
    color             - setting the color of the text in header
    margin-top        - adds margin to bottom of heading to add spacing
    padding           - setting the spacing within the header tag
    text-align        - setting the alignment of the text
*/
header {
  margin-top: 20px;
  color: white;
  text-align: center;
}

header img {
  height: 50px;
}

/* Nav Styling
  
*/
nav {
  font-weight: 700;
  height: 50px;
}

nav a {
  color: white;
  height: 100%;
  padding-top: 13px;
}

nav a:hover {
  font-size: 1.1rem;
  text-decoration: none;
}

/* Footer tag styling
    background        - setting background color
    margin-top        - adds margin to top of footer to add spacing
    padding           - setting the spacing within the footer tag
*/
footer {
  background: #40106b;
  border-top: 2px solid #330b57;
  margin-top: 25px;
  padding: 5px;
}

.jumbotron {
  background-color: #ffdc94;
}

.welcome {
  min-height: 80vh;
}

.welcome > div {
  min-height: 80vh;
}

.welcome p,
.about p,
.portfolio p {
  color: rgb(178, 136, 187);
  font-weight: 200;
  font-size: 1.1rem;
}

.welcome h5 {
  font-size: 2rem;
}

.welcome-title {
  font-weight: 700;
  font-size: 5rem;
}

.welcome a {
  color: white;
}

.welcome a:hover {
  color: #ff5761;
  text-decoration: none;
}

.welcome img {
  width: 75%;
}

.scroll-text {
  font-weight: 700;
}

.about {
  background: rgb(64, 16, 107);
  background: linear-gradient(
    180deg,
    rgba(64, 16, 107, 1) 73%,
    rgba(101, 26, 94, 0) 73%
  );
}

.about-highlight {
  background-image: url('assets/images/about.png');
  background-repeat: no-repeat;
  background-position: center center;
}

.portfolio-highlight {
  background-image: url('assets/images/portfolio.png');
  background-repeat: no-repeat;
  background-position: center center;
}

.about h4,
.portfolio h4 {
  font-weight: 700;
  font-size: 3rem;
}

.about span,
.portfolio span {
  font-weight: 200;
  color: white;
  font-size: 1.7rem;
}

.mobile-menu {
  height: 50px;
}

.mobile-menu a {
  color: white;
}

.mobile-menu a:hover {
  color: #ff5761;
}

.tech-card {
  background-color: #330d56;
}

.tech-card i {
  color: #ff5761;
  margin: 100px 0 10px 0;
}

.tech-card h5 {
  font-size: 2rem;
}

.tech-card p {
  margin-bottom: 100px;
}

hr {
  background-color: white;
}
